<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>What I am about</mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <a mat-list-item href="#">Resume</a>
        <mat-divider></mat-divider>
        <h3 matSubheader>AboutMe</h3>
        <mat-list-item *ngFor="let folder of folders">
           <mat-icon matListIcon>folder</mat-icon>
           <a mat-list-item href="#">{{folder}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>MyProjects</h3>
        <mat-list-item *ngFor="let project of projects">
           <mat-icon matListIcon>note</mat-icon>
           <a mat-list-item href="#">{{project}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <a mat-list-item href="#">MyBlog</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="#">MyStories</a>
        <mat-divider></mat-divider>
     </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Corey Hurst's Amazing Portfolio</span>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
